* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

.summary {
  background: #e3e3e3;
  max-width: 800px;
  border-bottom: 1px solid black;

  dl {
    margin: 0;
    padding: 0;

    &:nth-child(even) {
      dd,
      dt {
        background: #f3f3f3;
      }
    }

    dd,
    dt {
      display: inline-block;
      border: 1px solid black;
      border-bottom: 0 none;
      margin: 0;
      padding: 0.3em;
    }

    dt {
      width: 40%;
      border-right: 0 none;
    }

    dd {
      width: 60%;
    }
  }
}

.violations {
  .alert,
  .code,
  .severity {
    // 32%
    width: 5%;
  }

  .path {
    // 44%
    width: 12%;
  }

  .info,
  .snippet {
    width:((8%*4+12)/2);// 69%

    pre {
      width: auto;
      max-width: 100%;
    }
  }

  .description {
    width: ((8%*4+12)/2);
  }
}

.button {
  margin-right:10px;
}

.violations--hide-non-errors, .violations--hide-known-issues {
  .violation--known-info, .violation--known-warning {
    display: none
  }
}

.violations--hide-non-errors {
  .violation--info, .violations--warning {
    display: none
  }
}

.violations--hide-known-issues {
  .violation--known-error {
    display: none
  }
}

.js-enabled {
  .hidden-waiting-for-tab-activation {
    display: none;
  }
}

.tabs {
  ul {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    list-style: none;

    .tab {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0 5px 0 0;
      background: #e5e3e3;

      a:active,
      a:hover,
      a:link,
      a:visited {
        display: inline-block;
        color: black;
        border-bottom: 0 none;
        margin: 0;
        font-weight: bold;
        padding: 10px;
      }

      &.tab--active {
        a:active,
        a:hover,
        a:link,
        a:visited {
          background: #fff;
          border: 1px solid black;
          border-bottom: none;
          text-decoration: none;
          padding: 12px 10px;
        }
      }
    }
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    text-align: left;
  }

  tr {
    border-collapse: separate;
    border-top: 1px solid #dedada;
  }

  tr:nth-child(even) {
    background: #f3f2f2
  }

  th, td {
    padding: 10px;
  }
}
.severity {
  $foreground-red: #942514;
  $background-red: #f6d7d2;
  $foreground-orange: #594d00;
  $background-orange: #fff7bf;
  $foreground-green: #005a30;
  $background-green: #cce2d8;

  span {
    padding: 5px;
    text-transform: uppercase;
    text-align: center;

    &.info {
      color: $foreground-green;
      background: $background-green;
    }

    &.minor,
    &.moderate {
      color: $foreground-orange;
      background: $background-orange;
    }

    &.error,
    &.serious,
    &.critical {
      color: $foreground-red;
      background: $background-red;
    }
  }
}