# This npm config property detects compatibility of the currently installed chromedriver
# version before installing a new version https://www.npmjs.com/package/chromedriver
detect_chromedriver_version=true